[2018-07-21 16:52] grioja opened #1 "Carthage support for iOS platform broken"
Have started receiving the following error when doing a Carthage update with `iOS` platform specified:

[code]

Can you add a shared scheme for the `iOS` platform? Otherwise we are forced to use all platforms which greatly slows down Carthage.

[2018-07-24 15:49] grioja commented on #1
@rbeiter is there anyway we can address this? It was working prior 2.3.x

[2018-07-25 09:14] rbeiter commented on #1
Hey @grioja – thank you for the @-mention, didn't get pinged on this.  We will investigate and get back to you as soon as possible.

[2018-07-25 09:44] rbeiter commented on #1
Hi @grioja, I'm having difficulty reproducing this error with the command line above.  As far as I can tell, there will be no shared scheme to add since we distribute the client as a vendored framework with no Xcode project.  The client is distributed as a pre-built binary framework, so I believe the only impact on Carthage should be the size of the binary which is limited when exporting for distr

[2018-07-27 21:50] grioja commented on #1
It's unclear if it's a warning. Swift is our project language.

[2018-08-04 15:46] grioja commented on #1
Any update here? Can a JSON configuration just be added to this repo to facilitate using the `binary` option?

[2018-08-08 18:42] grioja commented on #1
@rbeiter can you please setup a hosted json file like other binary-distributed frameworks?

https://building42.github.io/Specs/Carthage/iOS/Fabric.json
https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json

Here is an example for both Fabric and Crashlytics.

Something similar should be setup for `twilio-chat-ios` and `twilio-accessmanager-ios` (and any other binary frameworks)

[2018-08-08 18:45] grioja commented on #1
Here is an example of what that JSON file might contain:

[code]

[2018-08-28 16:03] jamezilla opened #2 "xcode 10 builds"
Are there any plans to get Xcode 10 Swift 4.2 builds out? The Apple event is in 2 weeks, which likely means Xcode 10 GM and iOS 12 general availability.

[2018-08-31 07:32] rbeiter commented on #2
Hi @jamezilla - we've tested our builds with Xcode 10, Swift 4.2, and iOS 12 and our latest releases are compatible.  Are you seeing any issues consuming them?

[2018-09-06 17:59] mromanuk commented on #1
Same issue, any update?

[2018-09-06 19:06] rbeiter commented on #1
Hi @grioja, @mromanuk -

Will the following PR's address this issue for you?  Are you able to test?

AccessManager PR: https://github.com/twilio/twilio-accessmanager-ios/pull/1
Chat PR: https://github.com/twilio/twilio-chat-ios/pull/3
Sync PR: https://github.com/twilio/twilio-sync-ios/pull/1

Using `github` in the Cartfile still works in our testing, as does specifying the new .json file URL's dir

[2018-09-07 02:17] mromanuk commented on #1
Hi Randy, I can confirm, that both works!

[2018-09-07 12:48] rbeiter commented on #1
Thank you, @mromanuk!  One last Q for you before I close this out.  What version of carthage are you on?  I've been testing with `0.30.1`.  Still would like to be able to repro this locally to ensure we don't regress down the road.

[2018-09-07 13:27] mromanuk commented on #1
@rbeiter I'm using 0.29.0

[2018-09-07 13:31] rbeiter commented on #2
Closing this one out, I see we've been in contact through Twilio support as well and that issue is resolved.  Please let us know if we can assist you further.

[2018-09-07 13:31] #2 closed

[2018-09-07 13:35] rbeiter commented on #1
Thank you again, @mromanuk - the new json manifests are merged in and available.

Thank you @grioja for the help in resolving this.  The json links are:

https://raw.githubusercontent.com/twilio/twilio-chat-ios/master/twilio-chat-ios.json
https://raw.githubusercontent.com/twilio/twilio-accessmanager-ios/master/twilio-accessmanager-ios.json

And for Sync:
https://raw.githubusercontent.com/twilio/tw

[2018-09-07 13:35] #1 closed

[2018-11-20 12:29] polurezov8 opened #4 "Can’t join user to channel and to receive all messages of this channel."
Hi Twilio support team!
We have a project on the pre-release stage and face critical issue here.
### Description
We can’t join user to channel (type TCHChannel) and to receive all messages of this channel.
So we see 2 problems here:
1) method channel.join returns false (result.isSuccesful)
2) method getLastMessgeWithCount - we don't receive a callback from it. When callback is not received - thus

[2018-11-21 11:00] ivantkachenko1riseapps commented on #4
@berkus , does information in logs, provided above by @polurezov8 , help to see where the problem is?
Or some more info is needed from us?

[2018-11-21 12:16] berkus commented on #4
No, full logs would be nice, just as I asked.

There's a [manual for android](https://github.com/twilio/twilio-chat-demo-android/blob/master/REPORT_BUGS.md) on capturing the logs and even though details are different, the general approach is the same - we need full logs to reconstruct context.

[2018-11-21 15:49] rbeiter commented on #4
Hi @ivantkachenko1riseapps, for iOS please see https://www.twilio.com/docs/chat/error-handling-and-diagnostics#ios-logging-objective-c-swift for information on setting a higher log level to supply logs.  The logs may potentially contain PII so we encourage you send those via our [support website](https://www.twilio.com/console/support/tickets/create).

One additional note, in investigating this Ch

[2018-11-21 16:56] polurezov8 commented on #4
@berkus I set the log level as you said, below is the log which are displayed in the console from the beginning of the application until the moment when we try to join the chat and receive messages.

Hi @rbeiter ! Thank you for your advice. I have added the execution logs below. I will try to change the joining chat for your advice, I’ll write you the result.

[LogForTwilioSupportTeam.txt](https:/

[2018-11-22 11:11] ivantkachenko1riseapps commented on #4
Hi @berkus,
How helpful are the logs provided by @polurezov8, is it clear now where exactly the problem is?

[2018-11-22 15:14] polurezov8 commented on #4
Hi @berkus and @rbeiter! I tried to change the logic of working with chats, the results are described below:

**1.** I have a table with all the chat rooms.

**2.** When a user clicks on a cell (choses some chat), I open chat dialog screen
The method joinToChatAndFetchMessages() finds the chat by sid:

joinAndFetchMessagesWith() method:

[code]

**3.** Once the necessary chat is found I’m joining

[2018-11-22 16:12] berkus commented on #4
You must wait for channel synchronization status to become `.ALL` before querying messages. I believe this is noted in the documentation.

[2018-11-22 16:14] berkus commented on #4
See https://media.twiliocdn.com/sdk/ios/chat/releases/2.3.3/docs/Constants/TCHChannelSynchronizationStatus.html

[2018-11-22 16:16] berkus commented on #4
See https://media.twiliocdn.com/sdk/android/chat/releases/3.1.1/docs/enumcom_1_1twilio_1_1chat_1_1Channel_1_1SynchronizationStatus.html#details

[2018-11-23 13:57] polurezov8 commented on #4
@berkus @rbeiter I checked channels synchronization statuses.
The status of the channels to which I can connect and can not connect at the moment of selecting a chat is 3 // TCHChannelSynchronizationStatusAll
Most likely the problem is not synchronization status.
I still get nil when I try to receive a message and doing optional binding:

[code]

[2018-11-23 14:37] ivantkachenko1riseapps commented on #4
Hi @berkus , @rbeiter ,
is it clear from @polurezov8 's comment above what's the key of the problem and how we can solve it?
Is any more information should be provided from our side?

[2018-11-26 07:58] ivantkachenko1riseapps commented on #4
Hello, @berkus , @rbeiter,
Hope you had good weekend :)
Please let us know what you think about it, what should we do to fix this issue.

[2018-11-27 06:52] ivantkachenko1riseapps commented on #4
Morning @berkus, @rbeiter ,
when will you be able to provide some response?
I want the emphasize that this issue fixing is **CRITICAL** for our project success. And currently it's the only one that prevents us from the release, we need to handle it **ASAP!** We've chosen Twilio to as a an advanced chat solution but currently it became a **project stopper**..
We are eagerly waiting for your help!

[2018-11-27 08:30] berkus commented on #4
Hi,

regarding this code

[code]

Is `fetchChannelMessages()` called?

[2018-11-27 08:43] berkus commented on #4
Also, what I can see from the logs is that TwilioChatClient gets deinitializer prior to your call to `channel.join()` so it seems that the client is already destructed by the time you try to join and therefore fails.

Could you check how you hold a reference to the chat client in your code?

[2018-11-27 08:48] polurezov8 commented on #4
Hi @berkus! The above code called when generalChannel.massages not equal nil. In the case when generalChannel.messages == nil method fetchChannelMessages() not called.

Yes, of course, I will check and write you the result.

[2018-11-27 08:54] berkus commented on #4
The logs show this (these are sequence of the calls by the SDK):
[code]

[2018-11-27 10:53] polurezov8 commented on #4
@berkus Interesting, I never call method client.shutdown() and when I set breakpoint on - (void)shutdown; in TwilioChatClient.h I never stop at it when my program runs.
Can other functions implicitly call shutdown() method?

[2018-11-27 11:01] berkus commented on #4
This could happen if reference to ChatClient is dropped. Where do you keep it?

[2018-11-27 11:06] polurezov8 commented on #4
About reference:
After I got the token from my backend and run the method:

[code]

And I use a strong reference for object "client".
Variable client is stored in ChatManager class:
`var client: TwilioChatClient?`
In the same class all the methods associated with working with chats.

[2018-11-27 12:00] berkus commented on #4
Yeah, this should keep the reference alive then.

[2018-11-27 12:01] berkus commented on #4
Could you add some logging in your workflow to detect at which point in time relative to your code the ChatClient.shutdown gets called? Maybe this gives an insight.

[2018-11-27 12:05] polurezov8 commented on #4
Yes, sure. I'll add debugPrint to all chat's methods and write logs here.

[2018-11-28 06:05] berkus commented on #4
I don't see any explicit calls to shutdown, but I do see that you seem to have two instances of TwilioChatClient operating - not sure if this is a bug or supposed to be like this.

[2018-11-30 12:32] polurezov8 commented on #4
Hi @berkus @rbeiter!
I analyzed and refactored existing code. To fix the problem we wrote about, we had to do:
**1**. Check variable client and only if it is equal to nil to request access from my backend. Previously I accessed every time I logged in to the app. Thereby overwriting the variable client (because of this, the method shutdown() was called).
[code]
**2**. I implemented TwilioAccessMana

[2018-11-30 12:32] #4 closed

[2018-12-06 13:19] berkus commented on #4
JFYI iOS SDK 2.4.2 is released.

[2019-02-12 15:42] Hamza123Imran opened #5 "Connect to TwilioChatClient when internet is off"
Hi, i have a chat app i'm using twilio in that. Now my backend developer has configure the backend properly. When i run app i hit an API to my backend server and in response i get the twilio chat token. Then i initialize the chat client. This works fine, now when i want to run my app when app is not connected to internet. For this i store the twilio chat token in my core data entity and sent this

[2019-04-03 17:51] benSmith1981 opened #6 "Not notifications are sent on production and users do not create bindings"
Users can create, invite and join channels together. Send messages. BUt no bindings are created and therefore (I assume you need to create a binding to user notifications) no notifications happen. I don't understand why this is. I waste a lot of time on this issue as it sporadically keeps coming up and despite trying everything I don't understand the issue. I don't even get a debug suggestion, whi

[2019-05-20 20:28] berkus commented on #5
You can't, TwilioChatClient by definition works when there's an internet connection available.

[2019-07-11 15:43] tomhut opened #7 "TCHClientSynchronizationStatusCompleted requested number of messages"
The documentation for TCHClientSynchronizationStatusCompleted notes that "All joined channels, their members and the requested number of messages are synchronized."
Is it possible to specify the 'requested number of messages', perhaps when initializing the client? I had a good look but I couldn't find anything in the docs.

Many thanks in advance.

[2019-07-11 17:03] berkus commented on #7
Hi!

The number of messages in all recent SDK versions is 0.

[2019-07-11 18:30] tomhut commented on #7
Thanks!

[2019-07-11 18:30] #7 closed

[2019-10-20 13:50] sisoje commented on #5
@berkus why you designed api like that? its a deal breaker for many.
can you opensource this? or make a proper swift client?

[2019-11-08 21:02] miktav opened #8 "Unzip fails with exit code 9 when trying to install via Carthage"
I'm getting a strange error when trying to get the Twilio framework via Carthage. This is my Cartfile:

    github "twilio/twilio-chat-ios"

When I run this command:

    carthage update

I get this error:

`A shell task (/usr/bin/env unzip -uo -qq -d /var/folders/2d/nsdy9h0j0hv0l3p6168k81s80000gp/T/carthage-archive.JoeIDK /Users/miktav/Library/Caches/org.carthage.CarthageKit/binaries/twilio-chat-

[2019-11-08 21:14] miktav commented on #8
I solved this problem by clearing Carthage cache:

    rm -rf ~/Library/Caches/org.carthage.CarthageKit

After this, I ran:

    carthage bootstrap

And the Twilio framework installed successfully.

[2019-11-08 21:14] #8 closed

[2019-11-09 08:56] berkus commented on #8
Looks like the file was incompletely downloaded but carthage did not validate that and tried to use it? Might be worth reporting to upstream carthage about this.

[2019-11-16 03:30] miktav opened #9 ""Error instantiating client framework path" when testing code that instantiates TwilioChatClient"
My app has a class that instantiates a `TwilioChatClient` object. I am unable to test this class from our Tests target. My test fails with:

[code]

Carthage: `github "twilio/twilio-chat-ios" "v2.6.4"`
Xcode 11.2

This issue is similar to [this one.](https://github.com/twilio/twilio-chat-demo-ios/issues/47)

If I add TwilioChatClient.framework under "Link Binary With Libraries" in my Tests target,

[2019-11-18 12:25] Gray-Wind commented on #9
Hi, thank you for reaching out.

Firstly, check that you have all setting set properly for your targets.
For your application `Runpath Search Paths` should contain `$(inherited)` and `@executable_path/Frameworks`.
Four your test target `Runpath Search Paths` should contain `$(inherited)`, `@executable_path/Frameworks` and `@loader_path/Frameworks`.

If you will still have this issue, I'll ask you

[2019-11-18 12:29] Gray-Wind commented on #6
Is this issue still reproducible for you?

[2019-11-18 21:49] miktav commented on #9
Thanks for your reply. Please see sample project here:

[ChatMonkey.zip](https://github.com/twilio/twilio-chat-ios/files/3860836/ChatMonkey.zip)

Please note this is a framework project. You will need to provide a URL to a Programmable Chat Token Twilio function (I didn't include mine for privacy reasons). You will also need to run "carthage bootstrap".

Then, run the "testMonkey" XCTestCase and i

[2019-11-19 09:24] Gray-Wind commented on #9
In order to test framework, you should add a host application and set this host application in tests' target. Also do not forget to add your actual tests to the host application target and include needed frameworks.

In the end your project might look similar to this:
[ChatMonkey.zip](https://github.com/twilio/twilio-chat-ios/files/3862958/ChatMonkey.zip)

[2019-11-19 09:24] #9 closed

[2019-11-19 17:42] miktav commented on #9
@Gray-Wind Thank you! This worked perfectly.

[2019-12-11 20:11] AdamBCo commented on #6
@Gray-Wind I'm experiencing this issue as we speak.

On a other note I am receiving the following error message when using the registerWithNotificationToken function: Address of Apn Binding must be a nonempty string of even number of hexadecimal characters, statusCode: 400, HTTP status: Bad Request, public error code: 20001.

[2019-12-11 20:12] berkus commented on #6
What are you sending as a pushRegistrationToken, @AdamBCo ?

[2019-12-11 20:16] AdamBCo commented on #6
@berkus I am using version 2.2.0 of TwilioChatClient and passing the unmodified deviceToken from the application(_ application: UIApplication, didRegisterForRemoteNotificationsWithDeviceToken deviceToken: Data) function.

[2019-12-11 20:47] berkus commented on #6
According to the [changelog](https://www.twilio.com/docs/chat/ios/changelog), you should use 2.6.3 or later, seemingly because of `Fixed handling device token in order to correctly support push notifications on iOS 13.` change.

Could you give 2.6.5 a try and report if that works with pushes better for you?

[2019-12-11 20:53] AdamBCo commented on #6
@berkus That worked, so thanks for the help. Somewhere in the Twilio documentation it says we should be using version 2.2.0 of the pod file, which will need to be updated. Thanks again.

[2019-12-11 20:59] berkus commented on #6
If you remember the place - please post the URL here, I'll make sure to go and update that one too.

[2019-12-11 22:46] berkus commented on #5
@sisoje the API is going to change, it's in the works.
We can open source it, eventually, just not yet.
Swift version is coming, but no ETA known.

[2019-12-12 07:04] AdamBCo opened #10 "Urls for media assets"
I understand that I can retrieve Message Media Content via the following [instructions](https://www.twilio.com/docs/chat/media-support#retrieving-message-media-content), but is it possible to get a url for the media asset instead?

If not, can you please provide instructions on how to generate a Twilio url so that my client applications can take advantage of Async Image downloaders like PINRemoteI

[2019-12-12 08:04] Gray-Wind commented on #10
You can send a usual message with an url as it contents and in attributes define that it is a media message. When you receive such a message with those specific attributes, you can display it as a media message.

[2019-12-12 08:09] Gray-Wind commented on #6
I'm closing this issue, as original problem should be solved. Feel free to left a link in comments here.

[2019-12-12 08:09] #6 closed

[2019-12-12 08:29] Gray-Wind commented on #10
We have plans to expose Twilio url as it already done for [JS SDK](https://media.twiliocdn.com/sdk/js/chat/releases/3.3.3/docs/Media.html#getContentUrl__anchor), but no ETA known.

[2019-12-22 15:59] ZivKes opened #11 "App crash when starting and finishing TwillioChatClient"
App crashing when calling init() and finishing rapidly

`ThreadedExecutor5@0x2838316f8 (78)#0	0x00000001c30b70dc in __pthread_kill ()
#1	0x00000001c3130094 in pthread_kill$VARIANT$mp ()
#2	0x00000001c300fea8 in abort ()
#3	0x00000001c26dc788 in abort_message ()
#4	0x00000001c26dc830 in default_terminate_handler() ()
#5	0x00000001c26e8838 in std::__terminate(void (*)()) ()
#6	0x00000001c26e88bc in

[2019-12-23 08:41] Gray-Wind commented on #11
Hi! What is the version of the framework?

[2019-12-23 08:46] ZivKes commented on #11
This happens in all versions above 2.5.0, i was using 2.6.5 but checked all versions.
The last version on which this crash does not happen is 2.5.0

[2019-12-23 09:33] Gray-Wind commented on #11
Could you provide us logs?
You could set up a level of logs before client creation with
[code]

[2020-01-09 21:01] joeydong opened #12 "Missing v2.6.5 Release"
We noticed the release json used by Carthage is missing the latest v2.6.5 release: https://github.com/twilio/twilio-chat-ios/blob/master/twilio-chat-ios.json

Can you add it?

[2020-01-10 07:32] #12 closed

[2020-01-10 07:32] Gray-Wind commented on #12
For sure, sorry about that!

[2020-02-05 11:04] Gray-Wind commented on #11
This crash should be fixed in 2.6.6.

[2020-02-05 11:04] #11 closed

[2020-02-13 23:50] Benjamindodgson opened #13 "Crash when accessing the attributes property on TCHMessage."
We are getting a crash every time we try to GET the attributes of a TCHMessage. The following crash occurs:

2020-02-13 15:25:10.351555-0800 tomorrow[8106:2090903] -[__NSArray0 getObjects:andKeys:count:]: unrecognized selector sent to instance 0x1c7473660
2020-02-13 15:25:10.387259-0800 tomorrow[8106:2090903] *** Terminating app due to uncaught exception ‘NSInvalidArgumentException’, reason: ‘-[__

[2020-02-13 23:51] #13 closed

[2020-02-20 23:25] sisoje commented on #9
this never works for me

[2020-02-21 03:59] Gray-Wind commented on #9
@sisoje could you open new ticket with full information? Also take a look at sample project I fixed previously, maybe solution of your problem is there.

[2020-02-21 08:39] sisoje commented on #9
Oh, hi, that was fast :) I didn't want to stress this issue out, as it worked before with CocoaPods, but now we use Carthage and SPM. I want to recheck everything on our side first.

Thank you very much.

[2020-02-21 13:32] sisoje commented on #9
i fixed it for now, i added twilio framework to copy files phase in the app target

[2020-02-21 17:58] Gray-Wind commented on #9
I'm glad that you solved the issue!

[2020-04-16 03:11] fletch371 opened #14 "Channel parameters missing"
I have been using the Chat SDK via direct framework download rather than Carthage.  Does this vary from the cartage version?  The direct download framework is missing data in the TCHChannel object, it has a valid SID but the unique name and friendly name are both nil in all cases.

[2020-04-16 07:19] berkus commented on #14
If you download the same version, they should be exactly the same.

[2020-04-16 23:17] fletch371 commented on #14
So the SID is populating correctly in the TCHChannel, but friendlyName and uniqueName are nil.  This is consistent in all my testing.

[2020-04-17 12:18] berkus commented on #14
Did you wait for the proper Channel synchronization status before querying those?

[2020-04-21 03:42] fletch371 commented on #14
No - so this means if I am subscribed to a number of channels, I would need to wait for each of those channels to come back with a sync callback before being able to display a list of channels.  Is this the only way you could display a list of channel names?

[2020-05-04 16:48] miktav opened #15 "Can't get Reachability feature to work"
I'm trying to enhance my chat feature to show which users are online.

I've followed the instructions to enable reachability on my chat instance, but I'm not seeing any users detected as online.

Here is the code I've tried. It returns the _correct_ users for the channel, but shows `isOnline` status as **false** for all users, even when some users are online.

    chatClient.users()?.userDescripto

[2020-05-05 06:13] berkus commented on #15
Have you checked that `[TwilioChatClient isReachabilityEnabled]` returns TRUE?

[2020-05-05 17:48] miktav commented on #15
Yes, it does. I have run my app simultaneously on a device and two simulator instances, logged in as 3 different users. The app in each case says that reachability is enabled, but that all users are not online.

[2020-05-05 17:56] miktav commented on #15
This code does work:

    chatClient.users()?.subscribedUser(withIdentity: "MIKE", completion: { (result, user) in
        if result.isSuccessful(), let user = user {
            let text = "\(user.identity!) online? \( user.isOnline())"
            print(text)
            completion(Result.success(text))
            return
        }
    })

In this case, I'm getting a `TCHUser` object. The code I

[2020-05-06 09:08] Gray-Wind commented on #15
Which version of SDK do you use?
Could you provide us logs with reproduction of this issue?

[2020-05-06 20:34] miktav commented on #15
We are using 2.6.5. Where would you like me to send logs? They include our Account SID and other private stuff.

When calling the `userDescriptors` method, the logs show the correct "is_online" value, but the items in `paginator.items()` don't return it in the `isOnline()` method.

[2020-05-07 06:59] Gray-Wind commented on #15
Open a ticket with logs here: twilio.com/support then post number of your ticket here, I will take a look at it.

2.6.5 already included fix for online status in user descriptors.

[2020-05-07 18:26] miktav commented on #15
The problem is definitely resolved in 2.6.6, so I am closing this issue.

I noticed in my logs that I was running 2.6.4. This seemed odd since my cartfile.resolved said "v2.6.5". Anyhow, after running carthage update, I was updated to 2.6.6 and all is well. Thank you for your help!

[2020-05-07 18:26] #15 closed

[2020-05-08 06:36] berkus commented on #15
Ahh, good to know @miktav, because this was definitely fixed in 2.6.5 and this report caused a few odd looks around here.

[2020-06-02 07:02] Gray-Wind commented on #14
Hello, you should wait for synchronization, it is only way to get present info.
For your convenience you could wait for [Client synchronization](https://media.twiliocdn.com/sdk/ios/chat/releases/3.1.1/docs/Protocols/TwilioChatClientDelegate.html#//api/name/chatClient:synchronizationStatusUpdated:), there is no need to wait for each channel synchronization on cold start.

[2020-06-25 04:25] bwhiteley opened #16 "Please provide an XCFramework and a binary package manifest for SwiftPM."
https://developer.apple.com/videos/play/wwdc2020/10147/

[2020-06-25 08:47] berkus commented on #16
Hi, yes, it is going to be added, but not instantly.

[2020-06-29 07:40] Siemian opened #17 "Project is not building with carthage 0.35.0"
Cartfile:
[code]
Running command:
[code]
Produces error:
[code]

[2020-06-29 07:43] berkus commented on #17
Does it work when you skip `--no-use-binaries` option?

[2020-06-29 07:46] Siemian commented on #17
If there is available binary on github that is compatible it will work.

[2020-06-29 07:49] berkus commented on #17
SDK does not have non-binary artifacts. So it works only if you allow using binaries.

[2020-06-29 07:54] Siemian commented on #17
Due to one issue in carthage https://github.com/Carthage/Carthage/issues/2711 downloading binaries does not work on our CI. Because `API rate limit exceeded for` error is produced(even when github token is available).

[2020-07-03 09:42] tomhut commented on #16
This would be great, having an XCFramework available (through SPM or otherwise) is the main thing blocking us from launching a Mac Catalyst app.

[2020-07-11 00:38] berkus commented on #14
Closing as there is no activity.

[2020-07-11 00:38] #14 closed

[2020-07-20 12:12] Gray-Wind commented on #17
@Siemian Have you solved the issue with building your app?

[2020-07-20 12:17] Siemian commented on #17
For now we moved Twilio dependency to cocoapods, not ideal, but works.

[2020-07-20 12:20] Gray-Wind commented on #17
Glad to hear that.

From our side we cannot do anything as our SDK only distributed in binary form and with use of `--no-use-binaries` Carthage won't be able do download it.

I'm closing this ticket as there is no possible action form our side.

[2020-07-20 12:20] #17 closed

[2020-07-20 12:32] Siemian commented on #17
Actually, i just realized, you could use a `binary` option, which is designed for frameworks like yours https://github.com/Carthage/Carthage/blob/master/Documentation/Artifacts.md#binary-only-frameworks

[2020-07-20 12:34] Gray-Wind commented on #17
Fantastic found! Thanks for sharing.

[2020-08-10 22:11] miktav opened #18 "TCHMember vs TCHUser attributes"
This is a question about the framework, not an issue.

Are custom attributes assigned to a TCHMember stored separately from those assigned to the corresponding TCHUser? In other words, can TCHMember attributes be used to store information about the user that are unique to that user's membership in a specific channel?

[2020-08-10 22:57] berkus commented on #18
Hi @miktav

You are correct, Users' and Members' attributes are separated.

[2020-08-10 23:10] #18 closed

[2020-09-08 16:33] kansal2403 opened #19 "Users Online/Offline Status at Runtime"
Guys I want to update the Users Online/Offline Status at Runtime, But
No delegate function Is being called when any member from the Channel leaves the chat or joins the Chat
i.e When client.shutdown() method is called from any member's side.

[2020-09-09 07:10] berkus commented on #19
Leaving or joining a Chat channel does not affect user's online status.

Your service instance should have user reachability enabled [in configuration](https://www.twilio.com/docs/chat/reachability-indicator) to propagate user online/offline status events.

[2020-09-09 11:08] kansal2403 commented on #19
@berkus Thanks for reply but its still not working for me.
I have updated the Service Settings, please check the screen shot
https://prnt.sc/ue80lb

[2020-09-15 22:41] bwhiteley commented on #16
Any updates on this? With Xcode 12 released today, some folks will be keen on switching to SwiftPM soon.

[2020-09-16 13:56] berkus commented on #19
@kansal2403 ok, so when you subscribe to the user via getAndSubscribeUser and that user goes offline, you don't receive his online status updates?

Could you please share the detailed logs?

[2020-09-21 08:13] Gray-Wind commented on #16
This issue is on our roadmap. We will keep you updated.

[2020-11-13 14:52] Gray-Wind commented on #10
I totally forgot to mention that last versions of SDK has method [`getMediaContentTemporaryUrlWithCompletion:`](https://media.twiliocdn.com/sdk/ios/chat/releases/4.0.2/docs/Classes/TCHMessage.html#//api/name/getMediaContentTemporaryUrlWithCompletion:).

[2020-11-13 14:52] #10 closed

[2020-11-17 23:04] mitchtreece opened #20 "No Podspec for 4.0.2"
Noticed 4.0.2 got released a few days ago. However, looks like the specs repo wasn't updated with the new version. Would be cool if I could update 😉

[2020-11-18 08:00] berkus commented on #20
@Gray-Wind pls.

[2020-11-18 08:01] berkus commented on #20
@mitchtreece with "specs repo" you mean cocoapods? because this one is already updated with 4.0.2 (for Carthage).

[2020-11-18 08:25] Gray-Wind commented on #20
Pod repo has been updated.

[2020-11-18 08:25] #20 closed

[2020-12-02 20:25] uddinr opened #21 "Chat client disconnects when app is left idle for long period of time"
Hi,

We are implementing the Twilio iOS Chat SDK, when the app is sent to the background or left in the foreground idle for a long time, it seems subsequent calls to the sdk seem to timeout.

Is there something we need to do to ensure the client doesnt timeout over long periods of execution? From the twilio documentation here:

https://www.twilio.com/docs/chat/best-practices-sdk-clients

Under sdk

[2020-12-03 10:30] berkus commented on #21
Dupe of https://github.com/twilio/twilio-chat-demo-ios/issues/58

[2020-12-03 10:30] #21 closed

[2020-12-03 10:31] berkus commented on #19
No logs provided, closing.

[2020-12-03 10:31] #19 closed

[2020-12-03 10:32] #5 closed

[2020-12-15 20:29] borut-t commented on #16
Any progress on SPM @Gray-Wind ?

[2020-12-16 08:15] berkus commented on #16
@borut-t I believe this work will continue next year. Currently we have some other releases on our hands.

[2020-12-16 08:42] borut-t commented on #16
Great. I hope we can have it soon.

[2020-12-17 18:36] CorbinMontague commented on #16
+1 We consume this framework and `twilio-accessmanager-ios`, and neither seem to support the ability for Carthage to create an xcframework using [this](https://github.com/Carthage/Carthage/pull/3071) PR that should hopefully get merged soon. Without supporting SPM as an alternative installation method, the only way we can seem to use this dependency with Xcode 12.3 (now that it added additional ch

[2021-01-13 01:34] mruvim commented on #16
+1

[2021-01-13 16:32] Pro2005 opened #22 "There is no callback from channelWithSidOrUniqueName:completion: and getLastWithCount:completion:"
Hi there, we're stuck a bit wit your framework and can't sort out what's wrong. In some specific case there is no callback from some method.
For example:
[code]
But we can fetch this channel using:
[code]

We send POST request to our server, where we create new channel. So the app get SID from response, and trying to connect to it
In the log after calling ```twilioChatClient.channelsList()?.channe

[2021-01-14 11:25] Pro2005 commented on #22
A bit more information. We have controller that we use for showing AR (ARKit). And when the scene is recognized, twilio stops working.
On viewDidLoad we start the timer that each second perform two actions
[code]

And if everything is okay we see in the logs like
[code]
But after a while it stops working
[code]
And after that my method is waiting forever callback from getLastWithCount

[2021-01-14 12:45] Gray-Wind commented on #22
Hi!

Thank you for this detailed description, we will take a look at this issue. I will post an update later.

[2021-01-20 14:31] Pro2005 commented on #22
We also checked the previous versions. And for us the version that <= 2.6.4 works without issue. We are able to reproduce this issue in version >= 2.6.5
I hope it will help you to find the problem

[2021-01-20 14:34] Gray-Wind commented on #22
Thank you, this information will help us catch the issue faster!

[2021-01-25 13:39] mmdumi commented on #16
Latest master in Carthage allows for compiling projects as xcframeworks.
Can you please provide an updated version of the twilio ios sdk as xcframework ?
Thank you

[2021-01-25 13:52] Gray-Wind commented on #16
@CorbinMontague Hello, there is no need to use `twilio-accessmanager-ios`, it is deprecated. All needed events you can receive right from frameworks.

@mmdumi We have it in our plans. We target to deliver XCFramework in Q1 if nothing more important would come.

[2021-02-05 10:33] Pavel-Cherentsov commented on #22
Investigating... Couldn't reproduce yet.

[2021-02-09 12:26] Pavel-Cherentsov commented on #22
Probably this issue is caused by main thread stuck.

At the moment, all SDK completions are dispatched to `main queue`.
We're planning to allow user application to override it with any custom queue,
 thus enable completions execution on thread pool, avoiding main thread tiring.

[2021-02-09 12:48] Pro2005 commented on #22
But... in case if main thread stuck... the whole app is stuck, correct ? In our case we can continue use app, update UI and so on.

[2021-02-09 15:29] Pavel-Cherentsov commented on #22
Yes, in our case UI looks responsive...

[2021-02-09 15:57] Pro2005 commented on #22
Is there anything else that I can help you to reproduce this issue ?. I've already sent the build https://drive.google.com/file/d/1f9Pj_WU4Sen4-7qFZzEjxb5KW4HOTLCg/view?usp=sharing (it's your demo app https://github.com/twilio/twilio-chat-demo-ios with small changes) Where we are able to reproduce it too + video https://drive.google.com/file/d/1XdkTYPefjCGTjfO8DigFphWKJIb5pNm9/view?usp=sharing

[2021-02-09 19:40] Pavel-Cherentsov commented on #22
Yes, we've tried your demo app (based on twilio-chat-demo-ios, with ARKit) many times on several devices.
On iPhone 6s also.
Trying to repeat all the steps from your video.
Couldn't yet reproduce :(. Messages are successfully loaded and displayed...

Could you please set logging level to `TCHLogLevelTrace`, reproduce the issue and send us full logs?
Is it reproducible on other devices?

[2021-02-10 17:21] Pavel-Cherentsov commented on #22
Sorry, `TCHLogLevelTrace` logs sensitive data as well (such as tokens, etc.), so please keep using `TCHLogLevelDebug` logging level.

[2021-02-10 19:32] Gray-Wind commented on #22
Sensitive data could go through a zendesk ticket of via DM.

[2021-02-11 06:00] Pro2005 commented on #22
I sent TCHLogLevelTrace and TCHLogLevelDebug log files by zendesk
I hope it will help you

[2021-02-17 23:42] Pavel-Cherentsov commented on #22
Hi Ilia,

Thank you for the logs.
However, it's still not enough verbosity to solve the problem ;)
I've prepared special framework version with more detailed logging applied:
https://stage.twiliocdn.com/sdk/ios/chat/releases/4.1.3-rc1/twilio-chat-ios-4.1.3-rc1.tar.bz2
[code]

Could you please reproduce the issue again?
(this time logs should help)

[2021-02-22 05:39] Pro2005 commented on #22
Done... sent TCHLogLevelTrace and TCHLogLevelDebug log files by zendesk

[2021-02-22 09:32] Pavel-Cherentsov commented on #22
Thanks, I will check once get access to those google drive links.

[2021-02-25 13:11] Pavel-Cherentsov commented on #22
Thank you for these log files, they really shed light on the issue.

In previous logs, I couldn't find any problem: all requests went fine and completion handlers seemed to be executed.
In these fresh logs, a WebSocket unexpected disconnection problem is seen:
[code]
And  then on next request attempts:
[code]

[code]

Your logs are collected on iOS 14.2 device.

So these transport problems could b

[2021-03-01 05:30] Pro2005 commented on #22
Thanks for feedback. I definitely can reproduce it on iPhone 11 on 14.3 and 14.4. I sent logs by zendesk

[2021-03-01 13:48] Pavel-Cherentsov commented on #22
A lot of thanks for the logs!

[2021-03-10 09:41] berkus commented on #16
Hi,

XCFramework versions (with MacCatalyst support) are prepared and pending release. We will update here with the version numbers once released.

[2021-03-23 18:48] bwhiteley opened #23 "Carthage support for old releases has been removed"
Looks like the current version does not support Carthage. That's fine and well, but could you restore Carthage support for older releases? Currently builds are failing because we don't intend to immediately move to the current version, but the Carthage manifests have been removed for older versions.

Please restore Carthage functionality for older releases.

Specifically:
GET https://raw.githubuse

[2021-03-23 19:03] Gray-Wind commented on #23
Sorry for that, I've returned back the file.

[2021-03-23 19:03] #23 closed

[2021-03-23 20:34] miktav opened #24 "Ending support for Carthage?"
Hi, the update today removing support for Carthage was unexpected. This broke our build this morning and caused a bit of a scramble. Thank you for putting the support back. How are customers advised of breaking changes before they happen so they can take appropriate steps? Thanks, Mike

[2021-03-23 21:00] Gray-Wind commented on #24
Sorry for that. We did not mean to break existing builds and CI process by any mean.

We for a long time had plans to support XCFramework. Since we for time being can only provide a binary version of the framework, it become impossible to keep support for Carthage.

We will return Carthage distribution once it would add support for binary frameworks.

For now you can use either SPM, CocoaPods or m

[2021-03-23 21:03] Gray-Wind commented on #16
I am happy to announce that we finally provided an XCFramework and it could be distributed with SPM.

But we did not add support for Mac Catalyst just yet. If you want to participate in piloting for Mac Catalyst support you can create a ticket, leave a comment here or [contact support](https://support.twilio.com/hc/en-us/requests/new).

[2021-03-23 21:03] #16 closed

[2021-03-23 21:05] Gray-Wind commented on #22
We've delivered new version of the SDK with fixes around calling completions. If you still have any problem please contact us.

[2021-03-23 21:24] miktav commented on #24
Thanks, this helps. We can make the switch, it's just not something we can do immediately. We have multiple apps dependent on this and need time to coordinate and test, etc.

[2021-03-24 08:22] berkus commented on #24
@miktav sorry about that, it was an incorrect ad-hoc decision on our part. We will warn ahead of breaking infrastructure changes.

[2021-03-24 09:55] Gray-Wind commented on #24
I'm going to close this ticket. If you have any questions and/or comments feel free to left them here or create a new ticket.

[2021-03-24 09:55] #24 closed

[2021-03-24 13:50] silajdzice opened #25 "Chat client disconnects when app is in background, "Socket is not connected""
Hi,

We are implementing the Twilio iOS Chat SDK, when the app is sent to the background or left in the foreground idle for a long time.

Is there something we need to do to ensure the client doesn't timeout over long periods of execution?

After this happens and client send a message I can see the console logs "Socket is not connected".  Not sure what is causing this, everything works ok on older

[2021-03-24 13:52] Gray-Wind commented on #25
Hello, we have just released 4.2.0 version, please try it out, this issue has been fixed there.

Please give me know if it would work for you.

[2021-03-24 14:12] silajdzice commented on #25
Hey @Gray-Wind , thanks for quick reply.

Unfortunately I can confirm that I upgraded TwilioChat to 4.2.0 version and there is still the same issue. Any ideas why ?

[2021-03-24 14:19] Gray-Wind commented on #25
Hello,
Could you provide logs from the SDK it would help us to understand why connection was dropped?
It is possible to do [by setting logLevel](https://media.twiliocdn.com/sdk/ios/chat/releases/4.2.0/docs/Classes/TwilioChatClient.html#//api/name/setLogLevel:).
You can either upload them and paste a link here, or (even better) create [a new support ticket](https://support.twilio.com/hc/en-us/reque

[2021-03-24 15:13] silajdzice commented on #25
@Gray-Wind Hey again, I'll paste some logs I get when reproducing this issue.

2021-03-24 16:04:36560 [🔬][HomeViewController.swift]:90 14 appMovedToForeground() -> App moved to ForeGround!
2021-03-24 16:04:36.668843+0100 Sama[7649:1906465] [connection] nw_flow_add_write_request [C1.1 104.18.225.52:443 failed channel-flow (satisfied (Path is satisfied), interface: en0, ipv4, dns)] cannot accept wri

[2021-03-24 17:12] Gray-Wind commented on #25
Thank you very much for logs. I would like to see all logs if it possible.

You can also send all logs to ikolomeitsev@twilio.com, if it is better option for you.

[2021-03-26 12:22] Gray-Wind commented on #25
From the logs I can see that client is being deinitialised when application goes background. The application should hold the strong link to the client, it should not be shut down or destroyed, otherwise it should be re-created, which is not recommended.

More best practices could be found [here](https://www.twilio.com/docs/chat/best-practices-sdk-clients).

I'm closing this issue, feel free to cre

[2021-03-26 12:22] #25 closed

[2021-03-30 08:44] g0rp commented on #22
Hi there,
We are facing the exact same issue but on another call with 4.2.0 and 4.1.0.
We have to rollback our release version to 4.0.2 to fix the issue as a lot (but not all) users are complaining that messages are not sent,

Our problem seems to happen around the method TCHOptions.withAttributes(...). The callback is not called which blocks our message sending flow.

I can provide logs but it se

[2021-03-30 09:40] Gray-Wind opened #26 "Callback issues"
Hi there,
We are facing the exact same issue but on another call with 4.2.0 and 4.1.0.
We have to rollback our release version to 4.0.2 to fix the issue as a lot (but not all) users are complaining that messages are not sent,

Our problem seems to happen around the method TCHOptions.withAttributes(...). The callback is not called which blocks our message sending flow.

I can provide logs but it se

[2021-03-30 09:45] Gray-Wind commented on #26
Hello @g0rp,

I'm sure that it is not related to the problem stated in the original ticket, that's why I moved it to the new one.

Please provide [SDK logs](https://media.twiliocdn.com/sdk/ios/chat/releases/4.2.0/docs/Classes/TwilioChatClient.html#//api/name/setLogLevel:) with the issue reproduction. You can create [new support ticket](https://support.twilio.com/hc/en-us/requests/new) or share wit

[2021-03-30 09:48] Gray-Wind commented on #22
@g0rp, I've moved this question to the new ticket. It looks like there is possible issue with ARKit itself. We are investigating it.

@Pro2005 Could you check new version if it work any better?

[2021-03-30 09:49] Pro2005 commented on #22
@Gray-Wind Sure, I'll check it on this week and let you know
Thx

[2021-04-07 06:02] Pro2005 commented on #22
Hi. I'm still able to reproduce this issue on the latest build (4.2.0)... the same steps... the same behaviour

[2021-04-09 06:40] Pavel-Cherentsov commented on #22
Hi, sorry for it and thank you for info.
We've found that ARKit has strange influence on queue processing (queued completion blocks somehow stuck after while ARKit is launched).
We will dig dipper into this issue in nearest weeks.

[2021-05-03 03:39] slli opened #27 "Request: Add a License file to the project"
Due to company's policy, we can't use this library without a license file.

[2021-05-03 06:31] berkus commented on #27
Good point, thanks!

[2021-05-03 17:31] Gray-Wind commented on #27
@slli Hello, we are distributing SDKs under [TWILIO TOS](https://www.twilio.com/legal/tos). I will add a link to terms into the readme file.

[2021-05-10 02:41] slli commented on #27
thanks a lot @Gray-Wind ! Would it be possible to also update the readme in [twilio-voice-ios](https://github.com/twilio/twilio-voice-ios) & [twilio-video-ios](https://github.com/twilio/twilio-video-ios) ?

[2021-05-10 06:48] berkus commented on #27
@slli yep, I see you opened the tickets there already, people responsible for those repos should be able to help.

[2021-05-10 10:10] Gray-Wind commented on #27
@slli I've pinged them, I expect them to add a license info soon. FYI, it would be the same license, `TWILIO-TOS`.

[2021-06-02 14:26] alfredomerino opened #28 "Artifact of binary target "TwilioChatClient" failed extraction. (SPM)"
### Description

About a month ago we changed TwilioChat from CocoaPods to SPM. We were having some git lfs annoyances and figured we use SPM since it makes things a little more light weight. Unfortunately, whenever we checkout a branch. We get this issue and can only resolve it by doing a `Reset Package Cache`.

### Steps to Reproduce

1. Checkout any branch of the project.
2. Compile

#### Expec

[2021-06-02 18:22] berkus commented on #28
Are you sure this is not a problem with Xcode and SPM?

[2021-06-09 17:13] alfredomerino commented on #28
Sorry for the delayed reply. I just downloaded and installed Xcode 13 beta and it looks like the issue is not present there. I had tried using Xcode 12.0 and I believe ver. 11 as well but the issue was present there. I hope this resolves things permanently. Thank you!

[2021-06-09 17:17] berkus commented on #28
@alfredomerino great, but do reopen this issue if you still have problems.

[2021-06-09 17:17] #28 closed

[2021-06-10 09:31] barisozr opened #29 "TwilioChatClient shutdown crash"
Hi,

We're experiencing a crash on shutdown method. Some facts;

- Happens both on device and simulator with iOS 14.5 versions
- Detected firstly on TwilioChatClient 4.2.1 version, then updated to latest (5.0.0) and still have the crash
- App includes TwilioChatClient & TwilioVideo SDK & Socket.IO-Client-Swift SDK

Any help would be appreciated 🙏

Here's the some logs that may help.
`libc++abi: te

[2021-06-10 09:34] berkus commented on #29
The logs are cut - we require full logs for diagnosing.

[2021-06-10 10:21] barisozr commented on #29
Hi again,

We investigated the crash and we may found the reason. In our app, we're also using Flex SDK for debugging. When it's on we're experiencing the crash. So I'm closing for now. Sorry for inconvenience.

[2021-06-10 10:21] #29 closed

[2021-07-19 18:50] ignotusverum opened #30 "Can't construct object from JSON payload"
Hello!

As we are using `twilio-chat-ios 5.0.0`, we encountered an issue when trying to `setLastConsumedMessageIndex` -  the log shows the following error:

`["NSLocalizedDescription": Can't construct object from JSON payload: [json.exception.type_error.304] cannot use at() with null, "kTCHErrorMsgKey": Can't construct object from JSON payload: [json.exception.type_error.304] cannot use at() with

[2021-07-23 05:30] HarinderjitSingh commented on #26
hello @Gray-Wind,

I'm using 4.0.0 version and I am facing issue in joining channel, sometimes I am not receiving any response from channel join, can you please provide solution to this problem.

[2021-07-23 08:38] Gray-Wind commented on #26
Hello @HarinderjitSingh,

I would recommend to update to the newest version at first. Check the reproducibility of the issue there and report back please.

[2021-07-23 08:42] Gray-Wind commented on #30
Hello,

It is very interesting issue. Please collect [SDK logs](https://media.twiliocdn.com/sdk/ios/chat/releases/4.2.0/docs/Classes/TwilioChatClient.html#//api/name/setLogLevel:) with the issue reproduction. Then create [new support ticket](https://support.twilio.com/hc/en-us/requests/new) with included logs. I will take a look then.

[2021-07-23 10:26] HarinderjitSingh commented on #26
Thanks for quick response, but I was using latest version i.e. 5.0 but I had to roll it back because 5.0 and 4.2 having issues in loading messages when push notification is received, the method we use to get count returns count zero although there are messages in chat.

[2021-07-23 10:32] HarinderjitSingh opened #31 "No callback from join channel method"
I was using latest version i.e. 5.0 but I had to roll it back because 5.0 and 4.2 having issues in loading messages when push notification is received, the method we use to get count of messages returns count zero although there are messages in chat.

I'm using 4.0.0 version and I am facing issue in joining channel, sometimes I am not receiving any response from channel join, can you please provid

[2021-07-23 11:20] Gray-Wind commented on #26
I would like to take a look at the issue. Share the logs and reproduction steps with us please, to how see instructions above.

[2021-07-29 19:34] marcelofabri opened #32 "Carthage + xcframework"
### Description

The SDK is now distributed as an xcframework, and due to that, Carthage support was paused. However,  [Carthage 0.38.0](https://github.com/Carthage/Carthage/releases/tag/0.38.0) supports binary xcframeworks.

### Steps to Reproduce

1. Open https://github.com/twilio/twilio-chat-ios/blob/master/twilio-chat-ios.json
2. Check for an xcframework in the format that Carthage expects

##

[2021-08-19 05:13] Pro2005 commented on #22
Hi @Pavel-Cherentsov
Sure, I'll check it on the latest iOS version this week

[2021-09-08 13:42] cerihughes commented on #26
We're seeing exactly the same issue with the following code:

[code]

It all works as expected on `4.0.1` (completion block is fired) but if I try to update to `4.2.0` or later (to get SPM support), `options.withAttributes` never calls its completion block so our UI just hangs. I've also tried the latest version `5.0.1` and see exactly the same issue.

Even with logging set to `.trace`, (`TwilioCh

[2021-09-08 13:43] cerihughes commented on #26
@Gray-Wind - do you know if the OP from https://github.com/twilio/twilio-chat-ios/issues/22#issuecomment-810037127 ever found a resolution?

[2021-09-08 15:28] Gray-Wind commented on #26
@cerihughes I do not know, they never reported back.

First of all, `options.withAttributes` with new version behaves a bit differently from the previous version, callback would be called if only you will try to send the message.

[2021-09-09 08:59] cerihughes commented on #26
Thanks for that @Gray-Wind

Just to double check... the docs at https://media.twiliocdn.com/sdk/ios/chat/releases/5.0.1/docs/Classes/TCHMessageOptions.html#//api/name/withAttributes:completion: say that the completion parameter is `A completion block which will indicate the success or failure of setting the attributes.`. Are you saying that this will not get called unless other actions take place

[2021-09-09 09:16] berkus commented on #26
@cerihughes correct.

[2021-09-12 08:34] Pro2005 commented on #22
I couldn't reproduce this issue on my devices with 14.7.1, twilio 5.0.1, 4.2.0, 4.1.0
Thx

[2021-09-12 08:34] #22 closed

[2021-09-13 08:44] Pavel-Cherentsov commented on #22
Thank you!

[2021-10-05 20:56] Pavel-Cherentsov commented on #31
Hi @HarinderjitSingh
Sorry for late response.
Assuming that callback issue is not reproducible in v5.0+,
 need to fix messages count issue there.

Could you please provide a code sample how you get messages count?
And/or debug-level logs?

[2022-03-16 22:11] joeydong commented on #32
any updates? it's disappointing that [Twilio voice](https://github.com/twilio/twilio-voice-ios/issues/78) fixed support for `Carthage + xcframeworks` so promptly but not this repo.

[2022-03-18 12:15] Pavel-Cherentsov commented on #32
Hi @joeydong & @marcelofabri.
`Carthage + xcframeworks` support not done yet, we keep this in mind, will fix & check it as soon as possible.

[2022-03-21 20:12] iainsmith commented on #32
+1 we're keen to revert to carthage.